{{!-- <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h1 class="title">Agrega tus nuevos laboratorios</h1>
            <div class="card">
                <div class="card-body">
                    <form action="/lab/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="codigo" placeholder="Código" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="edificio" placeholder="Edificio" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<div class="home-content">
    <h1 class="text-center">Agrega tus laboratorios</h1><br><br>
    <div class="overview-boxes">
      <div class="box col-md-4 mx-auto">
        <div class="right-side">
            <form action="/lab/add" method="POST">
                <div class="form-group">
                    <input type="text" name="codigo" placeholder="Código" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="edificio" placeholder="Edificio" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
 